goals.raw
log.txt
story.div*
story_*.dat
story_*.txt
SyncToy_*.dat

/Editor/Mods/Swashbuckler2e_7652d95c-1ede-6b99-e5b7-229c6a80b94f/Levels/Basic_Level_A
/Mods/Swashbuckler2e_7652d95c-1ede-6b99-e5b7-229c6a80b94f/Levels/Basic_Level_A
/Public/Swashbuckler2e_7652d95c-1ede-6b99-e5b7-229c6a80b94f/**/*.txt
